<form action="/favourites" method="POST">
  <button type="submit" class="bg-red-500 p-2 rounded-2xl w-full
 hover:bg-red-600 text-white">
    Add to Favourite
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>